<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin-user.css' %}">

</head>
<body>
    <div class="menu-container">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">Recipe Finder</div>
        
        <nav class="nav-menu">
            <a href="{% url 'search_recipes' %}">Search Recipe</a>
            <a href="{% url 'favorites_page' %}">Favorites</a>
            <a href="{% url 'login' %}">Logout</a>
        </nav>
    </div>
    <div class="dashboard">
        <h1>Welcome to the user control panel</h1>
        <p>You can view available recipes or view your favorites list</p>
        <div class="options">
            <a class="A" href="{% url 'view_recipes' %}">View available recipes</a>
            <a class="A" href="{% url 'favorites_page' %}">Show your favorites</a>
        </div>
    </div>
</body>
</html>